@model IEnumerable<QualityBags.Models.Order>

@{
    ViewData["Title"] = "Index";
}

<h2>Orders</h2>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ApplicationUser.UserName)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Address)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.PhoneNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Subtotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GST)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.GrandTotal)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.OrderDate)
            </th>
            
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>@item.ApplicationUser.UserName</td>
            <td>@item.Address</td>
            <td>@item.PhoneNumber</td>
            <td>$@item.Subtotal</td>
            <td>$@item.GST</td>
            <td>$@item.GrandTotal</td>
            <td>@item.OrderDate</td>
            
            <td>
                <a asp-action="Delete" asp-route-id="@item.ID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
