@model QualityBags.Models.Product

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Product</h4>
    <hr />
    <dl class="dl-horizontal">
        @{
            var imgUrl = Href("~" + Model.ImagePath);
            var errImg = Href("~/images/Error.png");
        }
        <dt>
            @Html.DisplayNameFor(model => model.ProductName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.ProductName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Category.CategoryName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Category.CategoryName)
        </dd>
        <dt>
            Image
        </dt>
        <dd>
            <img class="product-image" src="@imgUrl"
                 alt="product image" onerror="this.onerror = null; this.src='@errImg'" />
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.UnitPrice)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UnitPrice)
        </dd>
        @if (User.IsInRole("Admin"))
        {
            <dt>
                @Html.DisplayNameFor(model => model.Supplier.SupplierName)
            </dt>
            <dd>
                @Html.DisplayFor(model => model.Supplier.SupplierName)
            </dd>
        }
    </dl>
</div>
<div>
    @if (User.IsInRole("Admin")) {
    <a asp-action="Edit" asp-route-id="@Model.ID">Edit</a><span>&nbsp;|</span>
    }
    else
    {
        <a class="add-to-cart btn btn-action" data-product-id="@Model.ID">
            <span class="glyphicon glyphicon-shopping-cart"></span>
            Add To Cart
        </a>
    }
    <a asp-action="Index" class="btn btn-default">
        <span class="glyphicon glyphicon-backward"></span>
        Back to List
    </a>
</div>
