@model IEnumerable<QualityBags.Models.Product>

@{
    ViewData["Title"] = "Products";
    bool rowClosed = false;
}

<h2>Products</h2>

@for (int i = 0; i < Model.Count(); i++)
{
    var item = Model.ElementAt(i);
    var imgUrl = Href("~" + item.ImagePath);
    var errImg = Href("~/images/Error.png");
    if (i % 3 == 0)
    {
        @:<div class="row">
        rowClosed = false;
    }
        <div class="col-md-4">
            <div class="card">
                <img class="card-image"
                     src="@imgUrl" alt="Product Image"
                     onerror="this.onerror = null; this.src = '@errImg'">

                <div>
                    <p>@item.ProductName</p>
                    <p>$@item.UnitPrice</p>
                    <p>@item.Category.CategoryName</p>
                    <div>
                        <a asp-action="Details" asp-route-id="@item.ID" class="btn btn-default">
                            <span class="glyphicon glyphicon-list"></span>
                            Details
                        </a>
                        <a class="add-to-cart btn btn-action" data-product-id="@item.ID">
                            <span class="glyphicon glyphicon-shopping-cart"></span>
                            Add To Cart
                        </a>
                    </div>
                </div>
            </div><!-- card -->
        </div><!-- col -->
    @if(i % 3 == 2)
    {
        @:</div><!-- /row -->
        rowClosed = true;
    }
}
@if (!rowClosed)
{
    @:</div><!-- /row -->
}
