@model QualityBags.Models.ApplicationUser

@{
    ViewData["Title"] = "Details";
}

<h2>Details</h2>

<div>
    <h4>Member</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.UserName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.UserName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.AccessFailedCount)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.AccessFailedCount)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Address)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Address)
        </dd>
        
        <dt>
            @Html.DisplayNameFor(model => model.Email)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Email)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.EmailConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.EmailConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Enabled)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.Enabled)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.FirstName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.FirstName)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.LastName)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.LastName)
        </dd> 

        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumber)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumber)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.PhoneNumberConfirmed)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.PhoneNumberConfirmed)
        </dd>
        <dt>
            @Html.DisplayNameFor(model => model.Orders)
        </dt>
        <dd>
            <table class="table">
                <thead>
                    <tr>
                        <th>Order Date</th>
                        <th>Subtotal</th>
                        <th>GST</th>
                        <th>Grand Total</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                @foreach(var order in Model.Orders)
                {
                    <tr>
                        <td>@order.OrderDate</td>
                        <td>$@order.Subtotal</td>
                        <td>$@order.GST</td>
                        <td>$@order.GrandTotal</td>
                        <td><a asp-controller="Orders" asp-action="Details" asp-route-id="@order.ID">Details</a></td>
                    </tr>

                }
                </tbody>
            </table>
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Index">Back to List</a>
</div>
